<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSign</title>
    <link rel="stylesheet" type="text/css" href="/css/hasil_sign.css">
</head>
<body>

    <script>
        function downloadQRCode() {
            // Get the QR Code data URL
            const qrCodeData = '<%- qrCodeData %>';

            // Create a temporary link element
            const link = document.createElement('a');
            link.href = qrCodeData;
            link.download = '<%- no_surat %> - <%- nama_lengkap %>.jpg'; // Set the default file name

            // Append the link to the document body (necessary for some browsers)
            document.body.appendChild(link);

            // Programmatically click the link to trigger the download
            link.click();

            // Remove the link from the document
            document.body.removeChild(link);
        }
    </script>

    
    <%- include('./layout/user_header.ejs') %>
    <div id="outer">
        <div id="all">
            <h1>Your QR Code</h1>
            <div id="containerText">
                <img src="<%- qrCodeData %>" alt="QR Code" width = 200px height = 200px>

                <button id="downloadButton" onclick="downloadQRCode()" > Download QR </button>

                
            </div>
        </div>
    </div>
</body>
</html>